* {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  letter-spacing: 2px;
  font-size: 2rem;
  padding: 10px;
  background-color: slateblue;
  color: whitesmoke;
  margin-bottom: 10px;
}

h2,
h3 {
  margin: 5px;
}

.btn {
  background-color: slateblue;
  color: white;
  border: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 1.35rem;
  font-weight: 700;
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  /* height: 100px; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.container > div {
  background-color: slateblue;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-evenly;
  width: 100%;
  color: whitesmoke;
}

.btns-container {
  display: flex;
  justify-content: space-between;
}

footer {
  margin: 0;
  font-size: 0.8rem;
}
